<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>¿Qué es la contaminación del aire?</title>
    <link rel="stylesheet" type="text/css" href="./css/blogs_products.css">
    <link rel="icon" href="./img/airsense.ico">
    <script src="https://kit.fontawesome.com/6ae7e3d326.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="background-image">
        <a href="blog-learning.html" class="back-articule"><i class="fa-solid fa-arrow-left"></i></a>
        <div>
            <h1>¿Qué es la contaminación del aire?</h1>
            <p>La contaminación del aire es el principal riesgo ambiental para la salud a nivel mundial, según la Organización Mundial de la Salud (OMS). Se le atribuye la muerte prematura de alrededor de 7 millones de personas en todo el mundo, y la OECD estimó que el costo de la atención médica relacionada con la contaminación del aire fue de $21 mil millones en 2015, proyectando que este costo podría alcanzar los $176 mil millones en 2060. Además, un gran porcentaje de personas en todo el mundo respiran aire contaminado. Por ejemplo, casi el 98% de la población urbana en Europa está expuesta a niveles de contaminación superiores a las recomendaciones de la OMS.</p>
        </div>
    </header>
    <section class="section-text">
        <div>
            <h3 align="center" class="text">Pero, ¿De qué hablamos exactamente cuando decimos contaminación del aire?</h3>
          <p>
            El aire que respiramos es una mezcla de diferentes gases, principalmente nitrógeno (N2) y oxígeno. Cuando el aire está contaminado, hay una mezcla adicional de compuestos (químicos, biológicos o físicos), además de N2 y O2, que son perjudiciales para la salud humana y el medio ambiente.La calidad del aire que respiramos depende de un equilibrio complejo entre las emisiones de contaminantes, los mecanismos de transformación fisicoquímica y los fenómenos atmosféricos de dispersión o desplazamiento de las masas de aire.
        </p>
        </div>
        <div>
            <h3 align="center" class="text">¿Cuáles son los principales contaminantes?</h3>
           <p>
            Muchos compuestos constituyen la contaminación del aire. Algunos son emitidos directamente por fuentes de contaminación, como el escape de los automóviles, el humo de una hoguera o el gas del perfume. Estos se llaman contaminantes primarios. Los contaminantes secundarios se crean como resultado de la reacción entre dos productos químicos o compuestos, como el ozono a nivel del suelo, que se crea cuando los rayos UV del sol reaccionan con el dióxido de nitrógeno (NO2).
        </p>
        </div>
        <div>
            <h3>Los principales contaminantes del aire son:</h3>
            <section class="option-align">
                <ul align="center">
                    <li>Dióxido de nitrógeno (NO2)</li>
                    <li>Ozono a nivel del suelo (O3) </li>
                    <li>Material particulado (PM)</li>
                    <li>Compuestos orgánicos volátiles (COV)</li>
                </ul>
            </section>
        </div>
        <div>
            <h3>¿Cuáles son los efectos de la contaminación en la salud?</h3>
            <div>
                <p>Hay efectos de la contaminación del aire en la salud tanto para exposiciones cortas (unas pocas horas a unos pocos días): irritación ocular, tracto respiratorio o ataque de asma, como para exposiciones crónicas (exposición durante varios años). La exposición a largo plazo a la contaminación puede ser particularmente perjudicial, ayudando a desarrollar o empeorar las condiciones más graves, como cáncer de pulmón, asma, patologías cardiovasculares o trastornos neurológicos.</p>
            </div>
        </div>
        <div>
            <h3>¿Cuáles son las fuentes de contaminación?</h3>
            <div>
                <p>La contaminación del aire puede ser emitida por fuentes antropogénicas (originadas en la actividad humana) o fuentes naturales. Entre las principales fuentes de contaminación, se encuentran:</p>
            <section class="option-align">
                <ul align="center">
                    <li>Calefacción doméstica (especialmente la leña)</li>
                    <li>Tráfico por carretera y aire</li>
                    <li>Ciertos procesos industriales (como la extracción o refinación de minerales)</li>
                    <li>Agricultura</li>
                    <li>Tratamiento de residuos</li>
                    <li>Fuentes naturales como erupciones volcánicas, tormentas de arena, polvo.</li>
                </ul>
            </section>
            
            </div>
    </section>

</body>
</html>
