<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>¿Qué son los VOC?</title>
<link rel="stylesheet" type="text/css" href="assets/css/blogs_products.css">
    <link rel="icon" href="assets/img/airsense.ico">
    <script src="https://kit.fontawesome.com/6ae7e3d326.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="background-image6">
        <a href="blog-learning.html" class="back-articule6"><i class="fa-solid fa-arrow-left"></i></a>
        <div>
            <h1>¿Qué son los VOC?</h1>
            <p>Los compuestos orgánicos volátiles (VOC, por sus siglas en inglés) son una gran familia de contaminantes compuesta por cientos de gases que encontramos en el aire. Estos gases pueden ser de origen natural o causados por la actividad humana y contribuyen a la mala calidad del aire, especialmente en interiores. Para ser extra precisos, cuando usamos el término VOCs nos referimos específicamente a los compuestos orgánicos volátiles no metánicos. Hay dos elementos comunes que unen a todos estos diferentes gases en la familia de los VOCs. <br><br>	Todos son:
Compuestos orgánicos: tienen al menos un átomo de carbono y uno o más elementos adicionales (hidrógeno, halógeno, oxígeno, azufre, fósforo...) Volátiles, su punto de ebullición es bajo (se evaporan fácilmente). Entre los VOCs más comunes se encuentran el butano, el etanol, la acetona, el benceno o el formaldehído.</p>
        </div>
    </header>
    <section class="section-text">
        <div>
            <h3>¿De dónde provienen los VOC?</h3>
          	<p>Hay muchas fuentes de VOCs. Algunas de ellas son de origen natural, mientras que otras están relacionadas con las actividades humanas.
Los principales sectores emisores de VOCs son:
<br><br>
Residencial (uso de productos de limpieza y solventes en el hogar) <br>
Industria manufacturera (también debido en gran parte al uso de solventes)<br> 
Producción de hidrocarburos (refinería de petróleo, por ejemplo) <br>
Transporte (escape y combustible de automóviles) <br>
<br><br>
Cabe señalar que la vegetación es una fuente importante de VOCs naturales, por ejemplo, la síntesis de compuestos aromáticos responsables del aroma de las flores o las plantas.
<br><br>
Los VOCs a menudo se consideran contaminantes interiores porque las concentraciones más altas se encuentran generalmente en áreas confinadas. Las principales fuentes de VOCs en interiores son:
<br><br>
Muebles: materiales de construcción como plásticos, pegamentos, barnices, pinturas y telas. Productos de mantenimiento: desinfectantes, desodorantes, insecticidas y productos de limpieza. Cosméticos: esmaltes de uñas, perfumes y productos para el cabello.
</p>
        </div>
        <div>
            <h3>¿Cuáles son los efectos en la salud del NO2?</h3>
           	<p>NO2 es un gas tóxico, sofocante e irritante que puede penetrar en los pulmones. Causa inflamación de las vías respiratorias y los pulmones de nuestro cuerpo, y también puede reducir nuestra inmunidad a las infecciones pulmonares. La exposición prolongada al NO2 también ha demostrado reducir la capacidad pulmonar. La exposición al NO2 puede aumentar la frecuencia de los ataques de asma, y aquellos que padecen esta afección, junto con los ancianos y los niños pequeños, se consideran en mayor riesgo de sufrir exposición al NO2.</p>
       	</div>
    </section>
</body>
</html>
