<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dióxido de nitrogeno</title>
    <link rel="stylesheet" type="text/css" href="assets/css/blogs_products.css">
    <link rel="icon" href="assets/img/airsense.ico">
    <script src="https://kit.fontawesome.com/6ae7e3d326.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="background-image4">
        <a href="blog-learning.html" class="back-articule4"><i class="fa-solid fa-arrow-left"></i></a>
        <div>
            <h1>Dióxido de nitrogeno</h1>
            <p>¿Qué es NO2?<br>
            El dióxido de nitrógeno (NO2) es un contaminante gaseoso de la familia de los óxidos de nitrógeno (NOx), junto con el óxido nítrico (NO). Se caracteriza por un color rojo-marrón, un olor punzante y acre, y una alta reactividad.<br><br>

            Como uno de los principales contaminantes atmosféricos, el NO2 está regulado y sujeto a recomendaciones y directrices de límites por parte de la Organización Mundial de la Salud (OMS). A pesar de estas regulaciones, las concentraciones de NO2 a menudo superan estos límites en muchas regiones urbanas del mundo.</p>
        </div>
    </header>
    <section class="section-text">
        <div>
            <h3>¿Cuáles son las fuentes de NO2?</h3>
          	<p>La principal fuente de emisiones de NO2 es la combustión de combustibles fósiles (carbón, gas natural, petróleo), madera y otros materiales orgánicos. En las grandes ciudades, el tráfico de vehículos y la calefacción doméstica son las principales fuentes de emisiones de NO2. Las centrales térmicas de carbón, las refinerías de petróleo y las actividades agrícolas como la quema de cultivos también contribuyen a la producción artificial de NO2. Aparte de las actividades humanas, los rayos, los volcanes y los incendios forestales son fuentes naturales de NO2.
            Aunque NO2 es principalmente un contaminante al aire libre, también puede ser un problema en interiores. Por ejemplo, las estufas de gas y las chimeneas producen cantidades sustanciales de NO2 en interiores, y deben ser instaladas con una ventilación adecuada para evitar que los niveles altos del gas se acumulen en la habitación.</p>
        </div>
        <div>
            <h3>¿Cuáles son los efectos en la salud del NO2?</h3>
           	<p>NO2 es un gas tóxico, sofocante e irritante que puede penetrar en los pulmones. Causa inflamación de las vías respiratorias y los pulmones de nuestro cuerpo, y también puede reducir nuestra inmunidad a las infecciones pulmonares. La exposición prolongada al NO2 también ha demostrado reducir la capacidad pulmonar. La exposición al NO2 puede aumentar la frecuencia de los ataques de asma, y aquellos que padecen esta afección, junto con los ancianos y los niños pequeños, se consideran en mayor riesgo de sufrir exposición al NO2.</p>
       	</div>
       	 <div>
            <h3>¿Qué es la contaminación por NO2?</h3>
          	<p>En áreas urbanas, los episodios de contaminación por dióxido de nitrógeno a menudo ocurren en invierno y generalmente están asociados con condiciones climáticas particulares que atrapan las emisiones cerca del suelo y evitan su dispersión. A lo largo del día (24 horas), se observan picos en los niveles de NO2 durante las horas pico de tráfico.

            El NO2 también es un contaminante primario involucrado en la producción de ozono troposférico cuando la luz solar desencadena su fotólisis, contribuyendo así a la creación de smog. En la atmósfera, el dióxido de nitrógeno también se transforma en ácido nítrico que cae al suelo en forma de lluvia ácida, lo que contribuye a la acidificación de los entornos naturales. El NO2 también es responsable de la formación de aerosoles de nitrato (materia particulada). Por ejemplo, cuando se combina con emisiones de fertilizantes de la industria agrícola.

            Los niveles de emisiones de NO2 han estado siguiendo una débil tendencia a la baja desde mediados de los años 90 en Europa y América del Norte. Esto se debe a las estrategias de reducción de emisiones dirigidas a centrales térmicas de carbón y otras industrias, pero también a la renovación progresiva de flotas de vehículos con diseños de motores mejorados y la generalización de convertidores catalíticos.</p>
        </div>
    </section>
</body>
</html>
