<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/nosotros.css">
    <link rel="icon" href="./img/airsense.png">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <img src="./img/airsense.png" alt="">
        <h2 class="logo"><b>Air</b><span>sense</span></h2>

        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/products">Productos</a>
            <a href="/about_us">Nosotros</a>
            <a href="/blog">Blog-Learning</a>
            <a href="/contact">Contactanos</a>
        </nav>
    </header>

    <div id="texto">
        <h5>Quienes somos</h5>
        
        <h1>Nosotros</h1>
    </div>

    <section id="block">
        <div id="block1">
            <h1>¿Quíenes somos?</h1>
            <p>Somos una empresa especializada en la medición y monitoreo de la calidad del aire, comprometida con la preservación del medio ambiente y la salud pública.Estamos comprometidos con la mejora continua y la innovación tecnológica, y trabajamos en colaboración con otras empresas y organizaciones para contribuir a un mundo más saludable y sostenible.</p>
        </div>
        <div id="block2">
            <img src="./img/nosotros-2.jpg">
        </div>       
    </section>

    <section id="block3">
        <div id="img">
            <img src="./img/nosotros.jpg"> 
        </div>
        <div id="text">
            <h1>Misión</h1>
            <p>Nuestra misión es ayudar a crear un mundo más saludable y sostenible mediante la purificación del aire y la reducción de la contaminación ambiental. Nos esforzamos por proporcionar soluciones de alta calidad que sean efectivas y accesibles para todos.</p>
        </div>
    </section>

    <section id="block4">
        <div id="vision">
            <h1>Visión</h1>
            <p>Ser líderes en la medición y el monitoreo de la calidad del aire, contribuyendo a la preservación del medio ambiente y la salud pública. Ser reconocidos por nuestro compromiso con la mejora continua y la satisfacción del cliente, y por el impacto positivo que generamos en la sociedad y el planeta. Trabajar en colaboración con otras empresas y organizaciones para lograr una mejor calidad del aire y un mundo más saludable.</p>
        </div>
        <div id="palo"></div>
        <div id="valores">
            <h1>Valores</h1>
            <ul>
                <li>Precisión de datos</li>
                <li>Transparencia</li>
                <li>Compromiso a una mejora</li>
                <li>Profesionalismo</li>
            </ul>
        </div>
    </section>

        <section id="block5">
            <div id="presentacion">
                <h2>Somos</h2>
                <h1>AIRSENSE</h1>
            </div>
            <div id="ft">
                <img src="./img/nosotros.png">
            </div>
        </section>

        <section id="moreinfo">
            <a href="El Índice de Calidad del Aire.pdf" download>Mas informacion calidad del aire</a>
            <br><br>
            <a href="Organigrama (2).pdf"download>Nuesto organigrama</a>
        </section>

    <footer class="space-flex">
		<div>
			<img src="./img/logo-white-complete.png">
		</div>
		<section class="space-grid footer-content">
			<div>
				<h1>Siguenos en nuestras redes sociales</h1>
				<div class="social-media space-flex">
					<img src="./img/facebook.svg">
					<img src="./img/twitter.svg">
					<img src="./img/instagram.svg">
					<img src="./img/youtube.svg">
				</div>
				<p>@AirSense</p>
			</div>
			<div class="space-flex justify">
				<div>
					<h2>CONTACTO</h2>
					<div class="space-flex space-justify-cont-img">
						<img src="./img/email.png">
						<p><b>Email :</b> Airsense@gmail.com</p>
					</div>
					<div class="space-flex space-justify-cont-img">
						<img src="./img/mobile.png">
						<p><b>Telefono :</b> 1+ (809)-400-4245</p>
					</div>
				</div>
				<div class="nave-footer">
					<a href="/home">HOME</a>
					<a href="/products">PRODUCTOS</a>
					<a href="/about_us">NOSOTROS</a>
					<a href="/contact">CONTACTS</a>
				</div>
			</div>
			<p class="copyright">Copyright © 2023 AirSense All Rights are reserved</p>
		</section>
		<section>
			<h1>BLOG-LEARNING</h1>
			<div class="space-flex">
				<div>
					<div class="footer-blog ftblog-1">
						<p>¿Qué es la contaminación del aire?</p>
					</div>
					<div class="footer-blog ftblog-3">
						<p>Dióxido de nitrógeno (NO2)</p>
					</div>
				</div>
				<div>
					<div class="footer-blog ftblog-2">
						<p>Ozono (O3)</p>
					</div>
					<div class="footer-blog ftblog-4">
						<p>¿Cómo podemos predecir la calidad del aire?</p>
					</div>
				</div>
			</div>
		</section>
	</footer>
</body>
</html>