<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Learning</title>
    <link rel="stylesheet" type="text/css" href="./css/blogs_products.css">
    <link rel="icon" href="./img/airsense.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>
<body>
    <header id="line-clean">
        <div class="space-flex modific-logo">
            <img src="./img/airsense.png">
            <img src="./img/script-Airsense.png">
        </div>
        <div class="header-bar">
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/products">PRODUCTOS</a></li>
                    <li><a href="/about_us">NOSOTROS</a></li>
                    <li><a href="#">BLOG-LEARNING</a></li>
                    <li><a href="/contact">CONTACTOS</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    <section id="blog-learning">
        <div class="title-blog">
            <h2 class ="">Blog Learning</h2>
            <h1 class ="">Articulos</h1>
        </div>
        <div class="space-grid">
            <div class="space-flex blog-ep0">
                <div>
                    <img src="./img/ep1.png">
                    <a href="/b1"><h2>¿Qué es la contaminación del aire?</h2></a>
                    <p>La contaminación del aire es el principal riesgo ambiental para la salud a nivel mundial, según la Organización Mundial de la Salud (OMS). Se le atribuye la muerte prematura de alrededor de 7 millones de personas, y la OECD estimó que el costo de la atención médica relacionada por del aire fue de $21 mil millones en 2015.</p>
                </div>
                <div>
                    <img src="./img/ep2.png">
                    <a href="/b2"><h2>Ozono (O3)</h2></a>
                    <p>El ozono (O3) es una molécula compuesta por tres átomos de oxígeno. Es un gas altamente oxidante , y es uno de los principales componentes del smog fotoquímico, la bruma marrón y nociva que se extiende sobre muchas ciudades grandes causada por una reacción fotoquímica entre la luz solar y ciertos contaminantes.  </p>
                </div>
                <div>
                    <img src="./img/ep3.png">
                    <a href="/b3"><h2>Material particulado (MP)</h2></a>
                    <p>El material particulado (PM), también conocido como aerosoles, es una mezcla de polvo fino y pequeñas gotas de líquido suspendidas en el aire. El término material particulado se refiere a una amplia variedad de elementos, desde los orgánicos (polen o esporas, por ejemplo) hasta los minerales (hollín y humo). Estas partículas tienen formas y tamaños diversos.</p>
                </div>
            </div>
            <div class="space-flex blog-ep0">
                <div>
                    <img src="./img/ep4.png">
                    <a href="/b4"><h2>Dióxido de nitrógeno (NO2)</h2></a>
                    <p>El dióxido de nitrógeno (NO2) es un contaminante gaseoso de la familia de los óxidos de nitrógeno (NOx), junto con el óxido nítrico (NO). Se caracteriza por un color rojo-marrón, un olor punzante y acre, y una alta reactividad. El NO2 está regulado y sujeto a recomendaciones y directrices de límites por parte de la Organización Mundial de la Salud (OMS).</p>
                </div>
                <div>
                    <img src="./img/ep5.png">
                    <a href="./Blogs/b5"><h2>Calidad del aire</h2></a>
                    <p>La calidad del aire es el resultado de mecanismos complejos que implican fenómenos de transporte a larga distancia. Los datos de contaminación producidos a nivel del suelo por estaciones fijas de medición de la contaminación o medidos por satélites proporcionan solo una parte de la calidad del aire para ese momento exacto.</p>
                </div>
                <div>
                    <img src="./img/ep6.png">
                    <a href="/b6"><h2>Compuestos orgánicos volátiles (COV)</h2></a>
                    <p>Los compuestos orgánicos volátiles (VOC, por sus siglas en inglés) son una gran familia de contaminantes compuesta por cientos de gases que encontramos en el aire. Estos gases pueden ser de origen natural o causados por la actividad humana, y contribuyen a la mala calidad del aire, especialmente en interiores. </p>
                </div>
            </div>
        </div>
    </section>

    <div class="anuncio">
        <img src="./img/anuncio.gif" alt="animate">
    </div>
    <footer class="space-flex">
		<div>
			<img src="./img/logo-white-complete.png">
		</div>
		<section class="space-grid footer-content">
			<div>
				<h1>Siguenos en nuestras redes sociales</h1>
				<div class="social-media space-flex">
					<img src="./img/facebook.svg">
					<img src="./img/twitter.svg">
					<img src="./img/instagram.svg">
					<img src="./img/youtube.svg">
				</div>
				<p>@AirSense</p>
			</div>
			<div class="space-flex justify">
				<div>
					<h2>CONTACTO</h2>
					<div class="space-flex space-justify-cont-img">
						<img src="./img/email.png">
						<p><b>Email :</b> Airsense@gmail.com</p>
					</div>
					<div class="space-flex space-justify-cont-img">
						<img src="./img/mobile.png">
						<p><b>Telefono :</b> 1+ (809)-400-4245</p>
					</div>
				</div>
				<div class="nave-footer">
					<a href="/home">HOME</a>
					<a href="/products">PRODUCTOS</a>
					<a href="/about_us">NOSOTROS</a>
					<a href="/contact">CONTACTS</a>
				</div>
			</div>
			<p class="copyright">Copyright © 2023 AirSense All Rights are reserved</p>
		</section>
		<section>
			<h1>BLOG-LEARNING</h1>
			<div class="space-flex">
				<div>
					<div class="footer-blog ftblog-1">
						<p>¿Qué es la contaminación del aire?</p>
					</div>
					<div class="footer-blog ftblog-3">
						<p>Dióxido de nitrógeno (NO2)</p>
					</div>
				</div>
				<div>
					<div class="footer-blog ftblog-2">
						<p>Ozono (O3)</p>
					</div>
					<div class="footer-blog ftblog-4">
						<p>¿Cómo podemos predecir la calidad del aire?</p>
					</div>
				</div>
			</div>
		</section>
	</footer>
</body>
</html>