<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error 404</title>
	<link rel="stylesheet" type="text/css" href="./css/blogs_products.css">
	<link rel="icon" href="./img/airsense.png">
	<script src="https://kit.fontawesome.com/6ae7e3d326.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="space-flex modific-logo space-logo">
		<img src="./img/404.png">
		<img src="./img/AirSense-404.png">
	</div>
	<section id="error">
		<img src="./img/404.svg">
		<img src="./img/ERROR404.svg">
		<p class="parragrafic-bold">Oops, We can seem to find <br>the page what you are looking for</p>
		<p class="normal-subpar">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
		<div>
			<a href="/" class="Back-error404">
				<i class="fa-solid fa-arrow-left"></i>
				<span>Back to Home Page</span>
			</a>
		</div>
	</section>
</body>
</html>