<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <title>Mapa</title>
  </head>
  <body>
    <header>
      <h2 class="logo"><b>Air</b><span>sense</span></h2>

      <nav class="navigation">
        <a href="/">Home</a>
        <a href="/products">Productos</a>
        <a href="/about_us">Nosotros</a>
        <a href="/blog">Blog-Learning</a>
        <a href="/contact">Contactanos</a>
      </nav>
    </header>

    <div id="map"></div>

    <script src="https://code.jscharting.com/latest/jscharting.js"></script>
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>

    <script src="./js/index.js"></script>
  </body>
</html>
