<!DOCTYPE html>
<html lang="Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/landing.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div id="logo">
            <h1>
                AirSense
            </h1>
        </div>
        
        <div id="nav-bar"> 
            <a href="/home">HOME</a>
            <a href="/products">PRODUCTOS</a>
            <a href="/about_us">NOSOTROS</a>
            <a href="/blog">BLOG-LEARNING</a>
            <a href="/contact">CONTACTOS</a>
        </div>
    </div>
    <div id="info">
        <h3>Explora la calidad del aire en tu área:</h3>
        <h1>Consulta la calidad del aire</h1>
            <a href="/">Iniciar cosulta</a>
            <a href="/">Ver proceso</a>
    </div>
    <div id="elipse">
        <div id="vectores"></div>
    </div>
</body>
</html>