<!DOCTYPE html>
<html lang="Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/landing.css">
    <link rel="icon" href="./img/airsense.png">
    <title>Home</title>
</head>
<body>
    <section id="inicio">
        <header>
            <img id="img" src="./img/logo.png">
            <h2 class="logo"><b>Air</b><span>sense</span></h2>
    
            <nav class="navigation">
                <a href="/home">Home</a>
                <a href="/products">Productos</a>
                <a href="/about_us">Nosotros</a>
                <a href="/blog">Blog-Learning</a>
                <a href="/contact">Contactanos</a>
            </nav>
        </header>
        <div id="info">
            <h3>Explora la calidad del aire en tu área:</h3>
            <h1>Consulta la calidad del aire</h1>
                <a id="a1" href="/home">Iniciar cosulta</a>
        </div>
        <div id="elipse">
            <img src="./img/logo.png">
        </div>
    </section>
</body>
</html>