<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Productos</title>
	<link rel="stylesheet" type="text/css" href="./css/blogs_products.css">
	<link rel="icon" href="./img/airsense.ico">
	<script src="https://kit.fontawesome.com/6ae7e3d326.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div class="space-flex modific-logo">
			<img src="./img/airsense.png">
			<img src="./img/script-Airsense.png">
		</div>
		<div class="header-bar">
			<nav>
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="#">PRODUCTOS</a></li>
					<li><a href="/about_us">NOSOTROS</a></li>
					<li><a href="/blog">BLOG-LEARNING</a></li>
					<li><a href="/contact">CONTACTOS</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section id="products-hero" class="space-flex">
		<div>
			<img src="./img/product.png">
		</div>
		<div>
			<h3>PURIFICADOR DE AIRE</h3>
			<h1>ION AIR 20</h1>
			<p>Categories: PURIFICADOR DE AIRE<br>
			Tags: ION AIR 20, PURIFICADOR DE AIRE</p>
			<p>Indicador calidad del aire PPM 2,5.<br>
			Filtro de Carbón Activo.<br>
			Filtro HEPA grado 13. <br>
			Iones Negativos. <br>
			Bajo nivel de sonido ( ≥ 50 dB).</p>
			<span class="price before">US $380</span>
			<span class="price 
			after">US $450</span>
			<a href="" class="buy">
				<i class="fa-solid fa-cart-shopping"></i>
				<span>COMPRAR</span>
			</a>
		</div>
	</section>
	<section id="products-tienda">
		<div class="title">
			<h2>TIENDA</h2>
			<h1>PURIFICADORES DE AIRE</h1>
		</div>
		<div class="space-flex space-justify">
			<div class="space-flex prds-buy">
				<div>
					<img src="./img/products-1.png">
				</div>
				<div class="productos-info">
					<h3>PURIFICADOR DE AIRE</h3>
					<h1>ULTRA ION 40</h1>
					<p>Indicador calidad del aire PPM 2,5.<br>
					Luz UVC Germicida. <br>
					Iones Negativos. <br>
					Portátil – Batería de litio.</p>
					<a href="" class="buy">
						<i class="fa-solid fa-cart-shopping"></i>
						<span>COMPRAR</span>
					</a>
				</div>
			</div>
			<div class="space-flex prds-buy">
				<div>
					<img src="./img/products-2.png">
				</div>
				<div class="productos-info">
					<h3>PURIFICADOR DE AIRE</h3>
					<h1>ULTRA ION 60</h1>
					<p>Indicador calidad del aire PPM 2,5.<br>
					Luz UVC Germicida. <br>
					Iones Negativos. <br>
					Portátil – Batería de litio.</p>
					<a href="" class="buy">
						<i class="fa-solid fa-cart-shopping"></i>
						<span>COMPRAR</span>
					</a>
				</div>
			</div>
		</div>
		<div class="space-flex space-justify">
			<div class="space-flex prds-buy">
				<div>
					<img src="./img/products-3.png">
				</div>
				<div class="productos-info">
					<h3>PURIFICADOR DE AIRE MULTI CAPA</h3>
					<h1>AX40T3030WM/AZ</h1>
					<p>Elimina hasta 99.97% de polvo de<br>tamaño 0.3 ㎛.<br>
					Detección y visualización inteligente de<br>la calidad del aire.<br>
					Mejora tu hogar con un diseño<br>elegante</p>
					<a href="" class="buy">
						<i class="fa-solid fa-cart-shopping"></i>
						<span>COMPRAR</span>
					</a>
				</div>
			</div>
			<div class="space-flex prds-buy">
				<div>
					<img src="./img/products-4.png">
				</div>
				<div class="productos-info">
					<h3>PURIFICADOR DE AIRE</h3>
					<h1>ULTRA ION 60</h1>
					<p>Indicador calidad del aire PPM 2,5.<br>
					Luz UVC Germicida. <br>
					Iones Negativos. <br>
					Portátil – Batería de litio.</p>
					<a href="" class="buy">
						<i class="fa-solid fa-cart-shopping"></i>
						<span>COMPRAR</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<footer class="space-flex">
		<div>
			<img src="./img/logo-white-complete.png">
		</div>
		<section class="space-grid footer-content">
			<div>
				<h1>Siguenos en nuestras redes sociales</h1>
				<div class="social-media space-flex">
					<img src="./img/facebook.svg">
					<img src="./img/twitter.svg">
					<img src="./img/instagram.svg">
					<img src="./img/youtube.svg">
				</div>
				<p>@AirSense</p>
			</div>
			<div class="space-flex justify">
				<div>
					<h2>CONTACTO</h2>
					<div class="space-flex space-justify-cont-img">
						<img src="./img/email.png">
						<p><b>Email :</b> Airsense@gmail.com</p>
					</div>
					<div class="space-flex space-justify-cont-img">
						<img src="./img/mobile.png">
						<p><b>Telefono :</b> 1+ (809)-400-4245</p>
					</div>
				</div>
				<div class="nave-footer">
					<a href="">HOME</a>
					<a href="">PRODUCTOS</a>
					<a href="">NOSOTROS</a>
					<a href="">SITE MAP</a>
				</div>
			</div>
			<p class="copyright">Copyright © 2023 AirSense All Rights are reserved</p>
		</section>
		<section>
			<h1>BLOG-LEARNING</h1>
			<div class="space-flex">
				<div>
					<div class="footer-blog ftblog-1">
						<p>¿Qué es la contaminación del aire?</p>
					</div>
					<div class="footer-blog ftblog-3">
						<p>Dióxido de nitrógeno (NO2)</p>
					</div>
				</div>
				<div>
					<div class="footer-blog ftblog-2">
						<p>Ozono (O3)</p>
					</div>
					<div class="footer-blog ftblog-4">
						<p>¿Cómo podemos predecir la calidad del aire?</p>
					</div>
				</div>
			</div>
		</section>
	</footer>
</body>
</html>