<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ozono (O3)</title>
    <link rel="stylesheet" type="text/css" href="./css/blogs_products.css">
    <link rel="icon" href="./img/airsense.ico">
    <script src="https://kit.fontawesome.com/6ae7e3d326.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="background-image2">
        <a href="blog-learning.html" class="back-articule2"><i class="fa-solid fa-arrow-left"></i></a>
        <div>
            <h1>Ozono (O3)</h1>
            <p>El ozono (O3) es una molécula compuesta por tres átomos de oxígeno. Es un gas altamente oxidante fácilmente reconocible por su olor cáustico (similar al de la lejía) —de hecho, de ahí proviene su nombre, del término griego "olor". Es importante distinguir el ozono troposférico (a nivel del suelo) dañino del que estamos hablando, de la capa de ozono estratosférica que es fundamental para la vida humana en la Tierra —protegiéndonos de los dañinos rayos UV. El ozono es uno de los principales componentes del smog fotoquímico, la bruma marrón y nociva que se extiende sobre muchas ciudades grandes causada por una reacción fotoquímica entre la luz solar y ciertos contaminantes. </p>
        </div>
    </header>
    <section class="section-text">
        <div>
            <h3 align="center" class="text">¿Cuándo y cómo se forma el ozono?</h3>
          <p>
            

Los niveles bajos de ozono en la troposfera son naturales y sus fuentes naturales son generalmente antropogénicas. De hecho, la mayor parte del ozono que respiramos no es creado directamente por la actividad humana y es principalmente el resultado de interacciones y reacciones complejas entre otros contaminantes. Por lo que se considera que el ozono es un contaminante secundario.<br>

El ozono se crea principalmente a través de la reacción que ocurre cuando el dióxido de nitrógeno y los compuestos orgánicos volátiles son expuestos a los rayos UV del sol.
Es por eso que los altos niveles de ozono son mucho más comunes durante el verano y alrededor de las grandes ciudades, cuando hay sol y una alta concentración de contaminantes precursoras.

La contaminación puede viajar increíbles distancias con el viento, de ciudad en ciudad, incluso de país en país. A medida que los contaminantes viajan, pueden reaccionar con la luz solar para crear ozono. Es por eso por lo que las áreas rurales también pueden verse afectadas por la contaminación de ozono. Esto también explica por qué los picos de ozono suelen observarse por la tarde y más tarde en el día, una vez que las emisiones de vehículos y otros contaminantes han reaccionado con los rayos UV del sol. <br>

El ozono se encuentra en niveles mucho más bajos en el interior. Se deteriora rápidamente después de entrar en contacto con ciertas superficies interiores, formando compuestos orgánicos volátiles como el formaldehído. Sin embargo, ciertos tipos de purificadores de aire y fotocopiadoras pueden crear ozono en el interior.
        </p>
        </div>
        <div>
            <h3 align="center" class="text">¿Cuáles son los efectos del ozono en la salud?</h3>
           <p>

El ozono es un gas irritante que puede causar molestias en los ojos, la nariz y la garganta en concentraciones lo suficientemente altas. El ozono penetra fácilmente en el sistema respiratorio, causando tos, dificultad para respirar y otros trastornos respiratorios. Los niños pequeños, los ancianos y las personas que sufren de asma son los más propensos a sufrir estos efectos en la salud cuando están expuestos al ozono.
        
            </div>
    </section>

</body>
</html>
