<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Calidad del Aire</title>
<link rel="stylesheet" type="text/css" href="assets/css/blogs_products.css">
    <link rel="icon" href="assets/img/airsense.ico">
    <script src="https://kit.fontawesome.com/6ae7e3d326.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="background-image5">
        <a href="blog-learning.html" class="back-articule5"><i class="fa-solid fa-arrow-left"></i></a>
        <div>
            <h1>Calidad del Aire</h1>
            <p>La calidad del aire es el resultado de mecanismos complejos que implican fenómenos de transporte a larga distancia, transformaciones fisicoquímicas y variaciones a escala local. Los datos de contaminación producidos a nivel del suelo por estaciones fijas de medición de la contaminación o medidos por satélites proporcionan solo una instantánea de la calidad del aire para ese momento exacto, por lo que es difícil saber solo con estas observaciones cómo será la contaminación del aire incluso unas pocas horas en el futuro.</p>
        </div>
    </header>
    <section class="section-text">
        <div>
            <h3>Entonces, ¿cómo predicen los científicos la contaminación del aire uno, dos o siete días antes en todo el mundo?</h3>
          	<p>Para entender esto, tenemos que empezar por el hecho de que la evolución de la calidad del aire está intrínsecamente vinculada con el clima. Esto significa que la contaminación se dispersa o se transporta de un lugar a otro según el viento. Además, la luz del sol induce una transformación química de ciertos contaminantes, las fuertes lluvias hacen que las partículas caigan al suelo, y la diferencia de temperatura entre las capas de aire puede atrapar la contaminación a nivel del suelo. En otras palabras, es complicado.
<br><br>
			Cuando se trata de predecir la calidad del aire, creamos modelos que tienen en cuenta todos estos parámetros. Los científicos crean estos modelos utilizando herramientas de cálculo poderosas basadas en ciencias atmosféricas (similar a las utilizadas para predecir el clima). Los combinan con millones de puntos de datos de contaminación medidos en tiempo real por satélite o a nivel del suelo. Esto permite que los modelos produzcan una estimación de los niveles de contaminación a gran escala y durante varios días.
<br><br>
			De la misma manera que las predicciones del clima te ayudan a decidir si debes llevar un paraguas antes de salir de casa, las predicciones de contaminación son útiles para planificar mejor las actividades (deportes, por ejemplo) o tomar medidas adecuadas para reducir la exposición.</p>
        </div>
    </section>
</body>
</html>
