<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Particulado (MP)</title>
    <link rel="stylesheet" type="text/css" href="assets/css/blogs_products.css">
    <link rel="icon" href="assets/img/airsense.ico">
    <script src="https://kit.fontawesome.com/6ae7e3d326.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="background-image3">
        <a href="blog-learning.html" class="back-articule3"><i class="fa-solid fa-arrow-left"></i></a>
        <div>
            <h1>Material Particulado (MP)</h1>
            <p>El material particulado (PM), también conocido como aerosoles, es una mezcla de polvo fino y pequeñas gotas de líquido suspendidas en el aire. Aunque gran parte del material particulado es tan pequeño como para ser invisible a simple vista, es posible ver otros en altas concentraciones, como el humo de una chimenea, una vela o un cigarrillo. A diferencia de los contaminantes gaseosos (ozono, NO2), las partículas finas no se caracterizan por su composición química. De hecho, el término material particulado se refiere a una amplia variedad de elementos, desde los orgánicos (polen o esporas, por ejemplo) hasta los minerales (hollín y humo). Estas partículas también provienen de muchas fuentes diferentes y tienen formas y tamaños diversos.</p>
        </div>
    </header>
    <section class="section-text">
        <div>
            <h3>¿Qué es el material particulado?</h3>
          	<p>El material particulado (PM), también conocido como aerosoles, es una mezcla de polvo fino y pequeñas gotas de líquido suspendidas en el aire. Aunque gran parte del material particulado es tan pequeño como para ser invisible a simple vista, es posible ver otros en altas concentraciones, como el humo de una chimenea, una vela o un cigarrillo. A diferencia de los contaminantes gaseosos (ozono, NO2), las partículas finas no se caracterizan por su composición química. De hecho, el término material particulado se refiere a una amplia variedad de elementos, desde los orgánicos (polen o esporas, por ejemplo) hasta los minerales (hollín y humo). Estas partículas también provienen de muchas fuentes diferentes y tienen formas y tamaños diversos.

			El material particulado se clasifica por tamaño, no por lo que está hecho. Por ejemplo, cuando se lee que el PM10 es alto hoy en Los Ángeles, el número 10 se refiere al diámetro del polvo que se está midiendo. En este caso, el PM10 significa que el polvo mide menos de 10 micrómetros. Eso es más pequeño que un cabello humano.

			El material particulado se categoriza de esta manera porque el tamaño del polvo en realidad determina cuán malo es para nuestra salud. Cuanto más pequeño es el tamaño (y el número), más peligroso es respirarlo.</p>
        </div>
        <div>
            <h3>Aquí está la lista de categorías de tamaño de PM:</h3>
            <section class="option-align2-modific">
                <ul>
                    <li>PM10 (grueso)</li>
                    <li>PM2.5 (fino)</li>
                    <li>PM1 (muy fino)</li>
                    <li>PM0.1 (ultrafino)</li>
                    <li>PM2.5 y PM10 son bien conocidos y forman la base de las regulaciones en todo el mundo. Sin embargo, las partículas más pequeñas aún no están comúnmente reguladas. Todavía hay trabajo por hacer para estudiar los efectos en la salud y desarrollar tecnología de monitoreo para estos pequeños contaminantes.</li>
                </ul>
            </section>
        </div>
        <div>
            <h3>¿Qué causa la materia particulada?</h3>
           	<p>La materia particulada puede provenir de fuentes naturales (como arena fina, incendios forestales, erupciones volcánicas y sal marina, por ejemplo) o de actividades humanas, generalmente involucrando algún tipo de combustión incompleta, como un incendio o una explosión.
           		<section class="option-align2">
					Las fuentes humanas más comunes de materia particulada son:
					<ul>
						<li>Procesos industriales</li>
						<li>Calefacción por combustión (quema de madera, carbón, petróleo, etc.)</li>
						<li>Transporte (especialmente vehículos diésel)</li>
						<li>Agricultura intensiva</li>
						<li> Producción de energía</li>
						<li>Eliminación de residuos (quema)</li>
					</ul>
				</section>

			La materia particulada también puede ser un gran problema en interiores. Fumar definitivamente es una fuente importante de PM en interiores, pero también hay cosas menos obvias que pueden crear este tipo de contaminación. Por ejemplo, cocinar, hacer tostadas o incluso encender una vela pueden crear altos niveles de materia particulada en interiores.</p>
       	</div>
       	 <div>
            <h3>¿Cuáles son los efectos en la salud de la materia particulada?</h3>
          	<p>El impacto de la materia particulada en nuestra salud ha sido bien documentado en muchos estudios durante la última década. Según la Organización Mundial de la Salud (OMS), la materia particulada es el tipo de contaminación más peligroso para la salud humana. Incluso niveles bajos de PM pueden tener consecuencias graves. La materia particulada ha sido clasificada como cancerígena por la Agencia Internacional de Investigación sobre el Cáncer (IARC), y hay innumerables estudios que relacionan la exposición a la materia particulada con una vida útil más corta.

			La materia particulada puede penetrar en nuestro sistema respiratorio, causando irritación simple de los ojos o la garganta, o problemas más graves en nuestros pulmones, corazones y cerebros. La materia particulada ha sido relacionada con la diabetes y la hipertensión, y algunos estudios incluso han relacionado la exposición prenatal a la materia particulada con problemas graves como nacimientos prematuros y problemas de desarrollo para el bebé.

			El tamaño de cada partícula está directamente relacionado con su peligrosidad. Cuanto más pequeñas son, más profundamente pueden penetrar en nuestros cuerpos, causando más daño. Las PM2.5 pueden pasar a través de las membranas de nuestros pulmones hasta el torrente sanguíneo. Mientras que las PM10 son en gran parte filtradas por la nariz y permanecen en nuestro sistema respiratorio.</p>
        </div>
        <div>
        	<h3>¿Dónde y cuándo se producen picos de contaminación por materia particulada?</h3>
        	<p>Las condiciones meteorológicas juegan un papel importante en los picos de materia particulada. Por ejemplo, en invierno cuando hay mucho aire frío a nivel del suelo combinado con un sistema de alta presión, la materia particulada no se dispersa y comienza a acumularse en el aire. En grandes centros urbanos, es muy común encontrar altos niveles de materia particulada a lo largo de carreteras con mucho tráfico y arterias de transporte. También se encuentran niveles extremos de materia particulada comúnmente en los sistemas de metro en todo el mundo (generalmente como resultado de los sistemas de frenado).

			Muchos países del hemisferio norte han logrado reducir la contaminación por materia particulada en el aire en las últimas décadas mediante la adición de filtros a los sistemas de escape de los automóviles y las chimeneas industriales, mejorando otros aspectos de los procesos industriales y reduciendo el carbono utilizado en la producción de energía. A pesar de estos cambios y mejoras, aún es común encontrar altos niveles de materia particulada.</p>
        </div>
    </section>

</body>
</html>
